<div class="p-grid">
    <div class="p-col-12 card-header">
        <div class="p-col-12 card" *ngIf="!semCabecalho">
            <div class="title-header mb-1">
                <h1 style="padding-top: 10px; color: rgb(49, 49, 49); margin: 0;" class="text-uppercase m-0 pl-1">{{ titulo }}</h1>
                <ng-container *ngIf="voltar">
                    <button pButton class="btn-voltar" label="voltar" icon="pi pi-arrow-left"
                        (click)="voltarPagina()"></button>
                </ng-container>
            </div>
            <ng-content select="[card-header]"></ng-content>

            <ng-content select="[menu]"></ng-content>
            <ng-container class="ui-card-body m-0 p-0">
                <ng-content></ng-content>
            </ng-container>
        </div>
    </div>
</div>