<app-campo-wrapper [label]="label" [forId]="id" [classesCss]="classesCss" [control]="control" [labelCampoErro]="labelCampoErro">
	<ng-container *ngIf="formControlName ; else templateDriven">
         <p-inputMask [mask]="mascara" [placeholder]="placeholder" size="tamanho" [formControlName]="formControlName"
                      [style]="{'width':'100%'}" unmask="unmask" [ngClass]="classeDefault" on-focusout="registerOnTouched({})"
                      [id]="id" [name]="name"></p-inputMask>
		<span *ngIf="obrigatorio" class="ui-g-12" style="color: rgba(0, 0, 0, 0.2);">campo obrigatorio**</span>
	</ng-container>
	<ng-template #templateDriven>
        <p-inputMask [mask]="mascara" [placeholder]="placeholder" size="tamanho" [formControlName]="formControlName"
                      [style]="{'width':'100%'}" unmask="unmask" [ngClass]="classeDefault" on-focusout="registerOnTouched({})"></p-inputMask>
		<span *ngIf="obrigatorio" class="ui-g-12" style="color: rgba(0, 0, 0, 0.2);">campo obrigatorio**</span>
	</ng-template>
</app-campo-wrapper>
