/* You can add global styles to this file, and also import other style files */

@import url("./assets/sass/bootstrap.scss");

.btn-flex-end {
    display: flex; 
    justify-content: flex-end; 
}

.card-header {
    display: flex; 
    margin-bottom: 1em;
}
 
.title-header {
    display: flex; 
    justify-content: space-between; 
    padding: 0;
}

.titulo-tabela {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
}

.pesquisa-global {
    display: flex;
    justify-content: flex-end;
}

